.cursor-gradient {
  background-image: radial-gradient(circle, rgba(63, 63, 63, 0.2) 0%, rgba(63, 63, 63, 0) 70%);
  pointer-events: none;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  z-index: 9998;
}



.scroller:hover .item{
  animation-play-state: paused;
}



#html5 {
  /* Your CSS styles for the HTML5 icon */
}

/* CSS for the remaining icons */
#css3 {
  /* Your CSS styles for the CSS3 icon */
}

#js {
  /* Your CSS styles for the JavaScript icon */
}

#python {
  /* Your CSS styles for the Python icon */
}

#swift {
  /* Your CSS styles for the Swift icon */
}