@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Inter-Bold';
  src: url('./fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url('./fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url('./fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter-Regular';
  src: url('./fonts/Inter-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Play-Bold';
  src: url('./fonts/Play-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Play-Regular';
  src: url('./fonts/Play-Regular.ttf') format('truetype');
}




@font-face {
  font-family: 'Roboto-Black';
  src: url('./fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('./fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('./fonts/Roboto-Thin.ttf') format('truetype');
}




body {
  margin: 0;
  font-family: Inter-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1e293b;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
